@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=UnifrakturMaguntia&display=swap');

@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
} 

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;  
    
    --fonte-padrão: Arial, Verdana,Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-andriod: 'Android', sans-serif;
}

body {
   
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

a.externo::after {
   content: '\00A0\1F517';
}

p {
    margin: 15px 0px;
    text-align: justify;
}

header {
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
     padding-top: 40px;
     font-size: 3em;
     margin-bottom: 20px;
     text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.267);
}
header > p{
    color: white;
    font-size: 1.2em;
    font-family: var(--fonte-padrão);
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.362);
}

nav > a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0,50s;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    min-width: 300px;
    max-width: 900px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    font-family: var(--fonte-andriod);
    color: var(--cor5);
}

main h2 {
    font-family: var(--fonte-andriod);
    color: var(--cor4);
    font-size: 1.4em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

mai p {
    p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}
}

mai strong {
    color: var(--cor4);
    font-weight: bold;
    box-sizing: w;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}


main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin-top: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.265);
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    background-color: var(--cor5);
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}