@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
   
  background-image: linear-gradient(to right, #91A9D9, #64758C);
}
main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(61, 72, 87, 0.669) ;
}
h1 {
    text-align: center;
    color: #BFAE99;
    text-shadow: 1px 1px 2px  #786d5f85;
}
p {
    text-align: justify;
}