@charset "UTF-8";

/*
    em HTML é id  = em CSS é # (só para um elemento)
    em HTML é class  = em CSS é . (para vários elementos)
*/

body{
    background-color: rgb(220, 249, 212);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(17, 178, 17);
}

h1#principal {
   text-align: center;
   background-color: green;
    color: white;
}

h2 {
    color: rgb(33, 93, 33);
}

.basico {
  color: rgb(30, 238, 7);
}
.intermediario {
 color: rgb(228, 225, 10);
}
.avancado {
    color: rgb(210, 9, 9);
}